$font-en:'Montserrat', sans-serif;
.header{
    padding-top: 35px;
    // header 본인한테 줄 때 &사용
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 35px;
        background: #eee;
    }
    
    .group-flex1{
        position: relative;
        height: 100px;
        background: red;
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // 중앙 잡을 때 flex:1 같은 비율로 정리, order:-1은 순서 맨 앞
    .sns-area{flex:1; order:-1; display: flex; justify-content: start;
        a{
            // shift+home 한줄 전체선택
            transform: translateX(-8px);
            width: 28px; height: 28px;
            background: #888;
            &+.link-sns{
                margin-left: 20px;
            }
            &.ic-facebook{
                background: url(../images/icon/ic-fb.png) no-repeat center;
                // background: url(../images/icon/ic-fb.png) no-repeat center/ 10px 10px;
            }
            &.ic-blog{
                background: url(../images/icon/ic-blog.png) no-repeat center;
            }
            &.ic-insta{
                background: url(../images/icon/ic-insta.png) no-repeat center;
            }
            &.ic-youtube{
                background: url(../images/icon/ic-yt.png) no-repeat center;
            }
        }
    }
    .logo-area{flex:1; display: flex; justify-content: center;
        .logo{
            width: 171px;
            height: 21px;
            background: #888;
            a{
                display: block;
                height: 100%;
            }
        }
    }
    .search-area{flex:1; display: flex; justify-content: flex-end;
        a{
            width: 35px; height: 35px;
            border: 2px solid #eee;
        }
    }

    .util-area{
        position: absolute;
        top: -35px; right: 0;
        line-height: 35px;
        color: #858585;
        display: flex;
        // float:left 정렬 효과
        a{
            font-size: 14px;
            margin-left: 20px;
        }
    }
    .group-nav{
        border: 1px solid #ddd;
        border-width: 1px 0;
        .gnb-list{
            width: 1100px;
            display: flex;
            margin: 0 auto;
            text-align: center;
        }
        .gnb-item{
            flex:1;
            &>a{
                font-family: $font-en;
                font-weight: bold;
                line-height: 60px;
                display: block;
            }
        }
    }


}//header