// 영역 잡을 때는 주석처리 해두고 확인하기
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip:rect(0 0 0 0);
}
.wrapper{
    min-width: 1246px;
    max-width: 1920px;
    margin: 0 auto;
}
.inner{
    width: 1100px;
    margin: 0 auto;
}