@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&family=Shrikhand&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  font: inherit;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: top;
}

dl, li, menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

button, input, select, textarea {
  vertical-align: middle;
  font-size: 100%;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

html input[type=button], input[type=email], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=tel], input[type=text] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body, button, input, select, td, textarea, th {
  font-size: 16px;
  line-height: 1.2;
  color: #222;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.025em;
}

a {
  color: inherit;
}

a, a:active, a:hover {
  text-decoration: none;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: 400;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.wrapper {
  min-width: 1246px;
  max-width: 1920px;
  margin: 0 auto;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  padding-top: 35px;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: #eee;
}
.header .group-flex1 {
  position: relative;
  height: 100px;
  background: red;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .sns-area {
  flex: 1;
  order: -1;
  display: flex;
  justify-content: start;
}
.header .sns-area a {
  transform: translateX(-8px);
  width: 28px;
  height: 28px;
  background: #888;
}
.header .sns-area a + .link-sns {
  margin-left: 20px;
}
.header .sns-area a.ic-facebook {
  background: url(../images/icon/ic-fb.png) no-repeat center;
}
.header .sns-area a.ic-blog {
  background: url(../images/icon/ic-blog.png) no-repeat center;
}
.header .sns-area a.ic-insta {
  background: url(../images/icon/ic-insta.png) no-repeat center;
}
.header .sns-area a.ic-youtube {
  background: url(../images/icon/ic-yt.png) no-repeat center;
}
.header .logo-area {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header .logo-area .logo {
  width: 171px;
  height: 21px;
  background: #888;
}
.header .logo-area .logo a {
  display: block;
  height: 100%;
}
.header .search-area {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.header .search-area a {
  width: 35px;
  height: 35px;
  border: 2px solid #eee;
}
.header .util-area {
  position: absolute;
  top: -35px;
  right: 0;
  line-height: 35px;
  color: #858585;
  display: flex;
}
.header .util-area a {
  font-size: 14px;
  margin-left: 20px;
}
.header .group-nav {
  border: 1px solid #ddd;
  border-width: 1px 0;
}
.header .group-nav .gnb-list {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.header .group-nav .gnb-item {
  flex: 1;
}
.header .group-nav .gnb-item > a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 60px;
  display: block;
}

.sc-visual {
  position: relative;
}
.sc-visual img {
  width: 100%;
}
.sc-visual .btn-nav {
  width: 23px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background: red;
}
.sc-visual .btn-nav.prev {
  margin-left: -623px;
}
.sc-visual .btn-nav.next {
  margin-left: 600px;
}

.sc-intro .content .headline {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  line-height: 1;
  text-align: center;
  margin: 84px 0 65px;
}
.sc-intro .content .group-flex {
  display: flex;
  justify-content: space-between;
}
.sc-intro .content .group-flex.reverse {
  flex-direction: row-reverse;
}
.sc-intro .content .text-box {
  width: 510px;
}
.sc-intro .content .text-box .desc {
  margin: 41px 0 40px;
  font-size: 18px;
  line-height: 28px;
}
.sc-intro .content .link-detail {
  display: block;
  width: 190px;
  height: 50px;
  border: 2px solid #222;
  text-align: center;
  line-height: 46px;
}

.sc-recommend .content {
  position: relative;
  padding: 91px 0;
}
.sc-recommend .content .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.sc-recommend .content .txt-box {
  width: 370px;
  height: 330px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}