
body{
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
.wrapper{
    min-width: 1190px;
}
/* a태그여서 감쌀 수 없음 */
.thumb-bd{
    display: block;
    position: relative;
}
.thumb-bd::after{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    /* background: #000; */
    border: 1px solid #000;
    opacity: 0.1;
}
.thumb-bd img{
    width: 100%;
}
.blind{
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

/* 식당 1호점 */
header .logo a::after,
header .service-area > a::after,
.sc-news .group-issue .link-media::after,
.sc-news .group-title .btn-set::after,
header .search-area .btn-submit::after,
.sc-sidenews .navi .btn-nav::after,
.sc-themepost .btn-theme-setting::before,
.sc-themepost .btn-theme.prev,
.sc-themepost .btn-theme.next,
.sc-themepost .list1-thumb .ic-play,
.sc-themepost .list3 .list3-thumb .ic-play,
.sc-themepost .list3 .fund-hd::after,
.sc-themepost .list3 .fund-list .btn-next::after,
.sc-themepost .btn-more .ico-more::before,
.sc-login .link-login::before{
    background-image: url(../images/sp-bg.png);
    background-repeat: no-repeat;
    background-size: 457px;
}


/* 식당 2호점 */
.sc-shop .group-goods .btn::before,
.sc-shop .trend-shop::before,
.sc-shop .trend-shop::after,
.sc-shop .shopnews .prev::before,
.sc-shop .group-cate .navi .prev::after,
.sc-shop .group-cate .navi .next::after,
.sc-shop .plusdeal-hd .prev::after,
.sc-shop .plusdeal-hd .next::after{
    background-image: url(../images/sp-bg2.png);
    background-repeat: no-repeat;
    background-size: 107px;
}
