.column-left{
    width: 750px;
    float: left;
}
.column-right{
    width: 350px;
    float: right;
}
.sc-login{
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}
.sc-login .login-msg{
    padding-left: 3px;
    color: grey;
}
.sc-login .link-login{
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.sc-login .link-login::before{
    content: '';
    display: inline-block;
    background-position: -138px -330px;
    width: 60px;
    height: 12px;
    vertical-align: top;
    margin: 2px 3px 0 0;
    
}

.sc-login .sub-area{
    margin: 14px 8px 0 4px;
}
.sc-login .sub-area::after{content: '';clear: both;display: block;}
.sc-login .sub-area .link-id{float: left;}
.sc-login .sub-area .link-find{float: left;}
.sc-login .sub-area .link-join{float: right;}

.sc-sidenews{
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
    padding-right: 67px;
}
.sc-sidenews .link-news{
    display: block;
    height: 100%;
    background: #ccc;
}
/* .sc-sidenews .link-news .badge{}
.sc-sidenews .link-news .news{} */

.sc-sidenews .navi{
    position: absolute;
    top: 11px;
    right: 10px;
    overflow: hidden;
}
.sc-sidenews .navi .btn-nav{
    float: left;
    background-color: #fff;
    border: 1px solid #e4e8eb;
}
.sc-sidenews .navi .btn-nav.prev{
    margin-right: -1px;
}
.sc-sidenews .navi .btn-nav.prev::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -408px -74px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 7px 8px 6px;
}
/* .sc-sidenews .navi .btn-nav.next{} */
.sc-sidenews .navi .btn-nav.next::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -451px -392px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 7px 8px 6px;
}


.sc-news{
    margin-top: 12px;
}
.sc-news .group-issue{ position: relative; padding: 12px 15px 11px 15px; background-color: #f7f9fa; border: 1px solid #dae1e6; line-height: 24px; font-size: 13px; }
.sc-news .group-issue::after{content: '';clear: both;display: block;}
/* a태그들 float:left로 붙여준 다음에 다시 띄워주기 */
.sc-news .group-issue .issue-area{float: left;}
.sc-news .group-issue .link-media{float: left; font-weight: bold;}
.sc-news .group-issue .link-media::after{
    content: '';
    display: inline-block;
    width: 6px; height: 10px;
    background-position: -444px -380px;
    margin: 0 5px;
    
}
.sc-news .group-issue .link-issue{float: left;}

.sc-news .group-issue .direct-area{float: right; font-weight: bold;}
.sc-news .group-issue .link-home{
    float: left; 
    color: #3565c9;
}
.sc-news .group-issue .link-home::after{
    content: '';
    display: inline-block;
    width: 3px; height: 3px;
    background: #ccc;
    border-radius: 50%;
    /* 영역이 클 때 top, 작을 때 2px,3px 쓰기 */
    vertical-align: 3px;
    margin-left: 7px;
}
.sc-news .group-issue .link-direct{
    float: left;
    margin: 0 4px 0 7px;
}

.sc-news .group-title{
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}
.sc-news .group-title::after{content: '';clear: both;display: block;}
.sc-news .group-title .link-stand{float: left;}
.sc-news .group-title .sort-area{float: left;}
.sc-news .group-title .btn-sort{float: left;}
/* .sc-news .group-title .btn-sort.active{} */
.sc-news .group-title .set-area{float: right;}
.sc-news .group-title .btn-set{float: left;padding: 0 9px;}
.sc-news .group-title .btn-set.ic-list::after{
    content: '';
    display: inline-block;
    width: 14px; height: 13px;
    background-position: -49px -419px;
}
.sc-news .group-title .btn-set.ic-tile::after{
    content: '';
    display: inline-block;
    width: 13px; height: 13px;
    background-position: -444px -19px;
}
.sc-news .group-title .btn-set.ic-set::after{
    content: '';
    display: inline-block;
    width: 15px; height: 15px;
    background-position: 0 -419px;
}

/* .sc-news .content{} */
.sc-news .group-list{
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
}
/* .sc-news .group-list .media-list{} */
.sc-news .group-list .media-list::after{content: '';clear: both;display: block;}
.sc-news .group-list .media-item{
    width:calc(100% / 6);
    height: 65px;
    float: left;
    text-align: center;
}
.sc-news .group-list .media-item a{
    padding: 23px 0 22px;
    display: block;
}
.sc-news .group-list .media-item img{
    height: 20px;
}

.sc-news .vt-line{
    position: absolute;
    top: 0; 
    width: 1px;
    height: 100%;
    background: #dae1e6;
}
.sc-news .vt-line.vt1{left: 123px;}
.sc-news .vt-line.vt2{left: 248px;}
.sc-news .vt-line.vt3{left: 372px;}
.sc-news .vt-line.vt4{left: 497px;}
.sc-news .vt-line.vt5{left: 622px;}

.sc-news .hr-line{ position: absolute; left: 0; width: 100%; height: 1px; background: #dae1e6; }
.sc-news .hr-line.hr1{top: 65px;}
.sc-news .hr-line.hr2{top: 130px;}
.sc-news .hr-line.hr3{top: 195px;}

.sc-themepost{
    padding: 35px 0 30px;
}
.sc-themepost .group-title{
    padding-bottom: 15px;
}
.sc-themepost .group-title::after{content: '';clear: both;display: block;}
.sc-themepost .title-area{
    float: left;
}
.sc-themepost .title{
    font-size: 15px;
    color: #000;
    font-weight: bold;
}
.sc-themepost .dsc{
    margin-left: 5px;
    color: grey;
}
.sc-themepost .info-area{
    float: right;
}
.sc-themepost .info{color: grey;}
.sc-themepost .info .number{
    font-weight: bold;
    color: #000;
    margin-right: 5px;
}
.sc-themepost .btn-theme-setting{
    color: #444;
    position: relative;
    margin-left: 13px;
}
.sc-themepost .btn-theme-setting::before{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -444px -194px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-right: 4px;
    vertical-align: -1px;
    opacity: .7;
}
.sc-themepost .btn-theme-setting::after{
    content: '';
    width: 1px; height: 12px;
    background: #ccc;
    position: absolute;
    top: 2px;
    left: -8px;
}
.sc-themepost .btn-theme-setting:hover{
    text-decoration: underline;
}

.sc-themepost .group-nav{
    position: relative;
}
.sc-themepost .btn-theme{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px; height: 40px;
}
.sc-themepost .btn-theme.prev{
    content: '';
    display: block;
    background-position: -128px -345px;
    left: -20px;
    /* vertical-align: top; */
}
.sc-themepost .btn-theme.next{
    display: block;
    content: '';
    background-position: -86px -345px;
    right: -20px;
    /* vertical-align: top; */
}

.sc-themepost .theme-cate-list{
    border: 1px solid #ddd;
    border-right: 0;
    height: 50px;
    /* margin-bottom: 20px; */
    overflow: hidden;
}
.sc-themepost .theme-cate-list li{
    float: left;
    width:calc(100% / 8);
}
.sc-themepost .theme-cate-list li a{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #ddd;
    display: block;
}
.sc-themepost .theme-cate-list li.active{
    background: #ebaa00;
    color: white;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}
.sc-themepost .group-theme{
    padding: 18px 0;
}
.sc-themepost .group-theme.list1{
    /* padding: 20px 0; */
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.sc-themepost .list1-inner{
    float: left;
    width:calc((100% - 20px) /2);
    overflow: hidden;
}
.sc-themepost .list1-inner:first-child{
    margin-right: 20px;
}
.sc-themepost .list1-inner:hover img{
    transform: scale(1.1);
}
.sc-themepost .list1-inner .list1-thumb{
    position: relative;
    overflow: hidden;
    display: block;
    border: 1px solid #dae1e6;
}
/* 이미지 사이즈 조정 시 흔들림 어떻게 잡는지? */
.sc-themepost .list1-thumb img{
    width: 100%;
    vertical-align: top;
    transition: transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
}
.sc-themepost .list1-thumb .ic-play{
    position: absolute;
    bottom: 10px;left: 12px;
    display: inline-block;
    width: 24px;
    height: 28px;
    background-position: 0 -389px;
}
.sc-themepost .list1-info{
    padding-top: 15px;
    display: block;
}
.sc-themepost .list1-info .category{
    color: #ebaa00;
    font-weight: 700;
}
.sc-themepost .list1-info .title{
    display: block;
    margin-top: 6px;
    font-size: 13px;
}
.sc-themepost .list1-info .title:hover{
    text-decoration: underline;
}
.sc-themepost .list1-info .txt{
    display: block;
    margin-top: 6px;
    line-height: 19px;
    font-size: 13px;
}
.sc-themepost .list1-info .source-area{
    color: #505050;
    margin-top: 4px;
}
.sc-themepost .list1-info .source{}

.sc-themepost .group-theme.list2{
    padding:18px 0;
    border-bottom: 1px solid #dae1e6;
}
.sc-themepost .recipe-list{
    overflow: hidden;
}
.sc-themepost .recipe-list .recipe-item{}
.sc-themepost .recipe-list .recipe-item:hover img{
    transform: scale(1.1);
}
.sc-themepost .recipe-list .recipe-item+.recipe-item{
    margin-top: 28px;
}
.sc-themepost .recipe-list .recipe-thumb{
    width: 170px; 
    height: 114px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    display: block;
}
.sc-themepost .recipe-list .recipe-thumb img{
    width: 100%;
    vertical-align: top;
    transition: transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
}
.sc-themepost .recipe-list .recipe-thumb::after{
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    border: 1px solid #dae1e6;
}
.sc-themepost .recipe-list .recipe-info{
    display: block;
    padding: 4px 25px 0 0;
}
.sc-themepost .recipe-list .category{
    color: #ebaa00;
    font-weight: 700;
}
.sc-themepost .recipe-list .title{
    display: block;
    margin-top: 2px;
    font-size: 13px;
}
.sc-themepost .recipe-list .title:hover{
    text-decoration: underline;
}
.sc-themepost .recipe-list .txt{
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 40px;
    overflow: hidden;
    margin-top: 6px;
    font-size: 13px;
}
.sc-themepost .recipe-list .source-area{
    color: #505050;
    margin-top: 4px;
}
.sc-themepost .recipe-list .source{}
.sc-themepost .recipe-list .source::after{
    content: '';
    display: inline-block;
    vertical-align: 3px;
    border-radius: 50%;
    margin: 0 5px 0 6px;
    width: 2px;
    height: 2px;
    background-color: #505050;
}
.sc-themepost .recipe-list .date{
    margin-left: -2px;
    color: grey;
}
.sc-themepost .group-theme.list3{
    padding: 18px 0;
    border-bottom: 1px solid #dae1e6;
}
.sc-themepost .list3 .list3-list{
    overflow: hidden;
}
.sc-themepost .list3 .list3-item{
    float: left;
    width:calc((100% - 54px) / 3);
}
.sc-themepost .list3 .list3-item:hover img{
    transform: scale(1.1);
}
.sc-themepost .list3 .list3-item:last-child{
    margin-right: 0;
}
.sc-themepost .list3 .list3-item+.list3-item{
    margin-left: 27px;
}
.sc-themepost .list3 .list3-thumb{
    width: 232px;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}
.sc-themepost .list3 .list3-thumb .ic-play{
    position: absolute;
    bottom: 9px; left: 12px;
    background-position: 0 -389px;
    width: 24px;
    height: 28px;
}
.sc-themepost .list3 .list3-thumb::after{
    content: '';
    border: 1px solid #dae1e6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sc-themepost .list3 .list3-thumb img{
    transition: transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
}
.sc-themepost .list3 .list3-info{
    padding-top: 12px;
    display: block;
}
.sc-themepost .list3 .title{
    display: block;
    margin-top: 2px;
    font-size: 13px;
}
.sc-themepost .list3 .title:hover{
    text-decoration: underline;
}
.sc-themepost .list3 .source-area{
    color: #505050;
    margin-top: 4px;
}
.sc-themepost .list3 .source{}
.sc-themepost .list3 .source::after{
    content: '';
    display: inline-block;
    vertical-align: 3px;
    border-radius: 50%;
    margin: 0 5px 0 6px;
    width: 2px;
    height: 2px;
    background-color: #505050;
}
.sc-themepost .list3 .date{
    margin-left: -3px;
}
.sc-themepost .group-theme.list3.fund{
    padding-top: 24px;
    /* position: relative; */
    border-bottom: none;
}
.sc-themepost .group-theme.list3.fund::after{content: '';clear: both;display: block;}
.sc-themepost .list3 .list3-title{
    /* padding-top: 10px; */
    display: block;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    position: relative;
}
.sc-themepost .list3 .fund-hd{
    position: relative;
    display: block;
    font-size: 14px;
}
.sc-themepost .list3 .fund-hd:hover{
    text-decoration: underline;
}
.sc-themepost .list3 .fund-hd::after{
    content: '';
    display: inline-block;
    background-position: -444px -304px;
    width: 7px;
    height: 11px;
}
.sc-themepost .list3 .fund-list{
    padding: 18px 0 18px;
    position: relative;
}
.sc-themepost .list3 .fund-list .btn-next{
    position: absolute;
    top: 66px;
    right: -20px;
    z-index: 10;
}
.sc-themepost .list3 .fund-list .btn-next::after{
    content: '';
    display: block;
    background-position: -170px -345px;
    width: 40px;
    height: 40px;

}
.sc-themepost .list3 .fund-item{
    float: left;
    width:calc((100% - 54px) / 3);
    margin-right: 27px;
}
.sc-themepost .list3 .fund-item:hover img{
    transform: scale(1.1);
}
.sc-themepost .list3 .fund-item:last-child{margin-right: 0;}
.sc-themepost .list3 .thumb-wrap{
    position: relative;
    display: block;
    width: 232px;
    height: 130px;
    overflow: hidden;
}
.sc-themepost .list3 .thumb-wrap img{
    transition: transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
}
.sc-themepost .list3 .thumb-wrap::after{
    content: '';
    border: 1px solid #dae1e6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sc-themepost .list3 .fund-item .ybox{
    background: #ebaa00;
    color: white;
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
}
.sc-themepost .list3 .fund-item .title{
    padding-top: 12px;
}
.sc-themepost .list3 .fund-item .source-area{
    margin-top: 7px;
}
.sc-themepost .list3 .fund-item .txt{
    margin-left: -3px;
}
.sc-themepost .list3 .percent{
    color:#ebaa00;
    font-weight: 700;
}
.sc-themepost .btn-more{
    position: relative;
    border-bottom: 1px solid #dae1e6;
    margin-bottom: 42px;
    padding-top: 20px;
}
.sc-themepost .btn-more .ico-more{
    position: absolute;
    top: 0;
    left: 334px;
    cursor: pointer;
    color: #505050;
}
.sc-themepost .btn-more .ico-more::before{
    content: '';
    display: block;
    background-position: 0 -345px;
    width: 42px;
    height: 42px;
    margin: 0 auto 3px;
}
.sc-shop{
    width: 350px;
    height: 1809px;
}
.sc-shop .shop-hd{
    padding: 12px 0 13px;
    margin-top: 15px;
    overflow: hidden;
}
.sc-shop .trend-shop{
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
}
/* .sc-shop .trend-shop::before{
    content: '';
    display: inline-block;
    background-position: -26px -54px;
    width: 15px;
    height: 15px;
}
.sc-shop .trend-shop::after{
    content: '';
    display: inline-block;
    width: 5px;height: 9px;
    background-position: -65px -77px;
} */
.sc-shop .tab-area{
    float: right;
}
.sc-shop .tab-area .tab-item{
    float: left;
    font-weight: 700;
    margin-right: 11px;
    font-size: 13px;
}
.sc-shop .tab-area .tab-item:last-child{
    margin-right: 0;
}
.sc-shop .tab-area .tab-product{
    border-bottom: 1px solid #19ce60;
    color: #03c75a;
}
.sc-shop .tab-area .tab-mall{}
.sc-shop .tab-area .tab-men{
}
.sc-shop .shop-content{
    height: 1763px;
    border: 1px solid #e4e8eb;
}
.sc-shop .group-mall{
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
    overflow: hidden;
}
.sc-shop .group-mall .mall-list{overflow: hidden;}
.sc-shop .group-mall .mall-item{
    float: left;
    color: #404040;
    font-size: 12px;
    line-height: 23px;
}
.sc-shop .group-mall .mall-item.on{
    font-weight: bold;
}
.sc-shop .group-mall .dot{
    background: #c9cccf;
    width: 3px;height: 3px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    margin: 10px 12px 0;
}
.sc-shop .group-mall .dot.dot02{
    margin: 10px 10px 0;
}