@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&family=Shrikhand&display=swap');
@import './base/reset';
@import './base/preset';

@import './layout/footer';
@import './layout/header';

@import './page/main';

