.sc-visual{
    // text-align: center;
    img{width: 100%;}
    position: relative;

    .btn-nav{
        width: 23px;
        height: 40px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translateY(-50%);
        background: red;

        &.prev{
            margin-left: -623px;
        }
        &.next{
            margin-left: 600px;
        }
    }
}
.sc-intro{
    .content{
        .headline{
            font-family: $font-en;
            font-size: 42px;
            line-height: 1;
            text-align: center;
            margin: 84px 0 65px;
        }
        .group-flex{
            display: flex;
            justify-content: space-between;
            &.reverse{
                flex-direction: row-reverse;
            }
        }
        .img-box{}
        .text-box{
            width: 510px;
            .desc{
                margin: 41px 0 40px;
                font-size: 18px;
                line-height: 28px;
            }
        }
        .link-detail{
            display: block;
            width: 190px;
            height: 50px;
            border: 2px solid #222;
            text-align: center;
            line-height: 46px;
        }
    }

}

.sc-recommend{
    .content{
        position: relative;
        padding: 91px 0;
        .bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        .txt-box{
            width: 370px;
            height: 330px;
            background: rgba(#000,0.5);
            color: #fff;
        }
    }
}